<div class="container-fluid header-container">
  <div class="row perspective-title-row">
    <div class="col p-0">
      <span class="perspective-title">Discover Your Perspective</span>
    </div>
  </div>

  <div class="row">
    <div class="col p-0">
      <p class="perspective-desc">Complete the 7 min test and get a detailed report of your lenses on the world.</p>
    </div>
  </div>

</div>
<ng-container *ngIf="questions.length > 0;else loading">

  <div class="content-container">
    <div class="row question-row"  *ngFor="let question of questions">
      <div class="col p-0">
        <div class="row">
          <div class="col text-center col-question">
            <span class="question">{{question.name}}</span>
          </div>
        </div>

        <div class="row answer-row justify-content-center">
          <div class="col-2 text-right disagree-label">Disagree</div>
          <div class="col-1">
            <label class="radio-container">
              <input type="radio" [(ngModel)]="answers[question.id]" value="1" name="{{question.id}}">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="col-1">
            <label class="radio-container">
              <input type="radio" [(ngModel)]="answers[question.id]" value="2" name="{{question.id}}">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="col-1">
            <label class="radio-container">
              <input type="radio" [(ngModel)]="answers[question.id]" value="3" name="{{question.id}}">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="col-1">
            <label class="radio-container">
              <input type="radio" [(ngModel)]="answers[question.id]" value="4" name="{{question.id}}">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="col-1">
            <label class="radio-container">
              <input type="radio" [(ngModel)]="answers[question.id]" value="5" name="{{question.id}}">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="col-1">
            <label class="radio-container">
              <input type="radio" [(ngModel)]="answers[question.id]" value="6" name="{{question.id}}">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="col-1">
            <label class="radio-container">
              <input type="radio" [(ngModel)]="answers[question.id]" value="7" name="{{question.id}}">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="col-2 text-left agree-label">Agree</div>

        </div>
      </div>
    </div>

  </div>
  <div class="content-container mt-0">
    <div class="row email-row">
      <div class="col text-center col-email pb-0">
        <div class="row">
          <div class="col">
            <span class="email-label">Your Email</span>
          </div>
        </div>
        <div class="row">
          <div class="col col-email">
            <input class="email-input" type="email" required minlength="4" [(ngModel)]="email" #emailRef placeholder="you@example.com" />
          </div>
        </div>
        <div class="row" *ngIf="!isEmailValid">
          <div class="col alert alert-danger">
            <strong>Error!</strong> Please enter a valid email address.
          </div>
        </div>

        <div class="row" *ngIf="!isSubmissionValid">
          <div class="col alert alert-danger">
            <strong>Error!</strong> Please respond to all the questions.
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="content-container submit-container">
    <div class="row">
      <div class="col text-center">
        <button class="btn save-btn" (click)="submitAnswers()">Save & Continue</button>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loading class="row question-row">
  <div class="row question-row" >
    <div class="col p-0">
      <div class="row">
        <div class="col text-center col-question">
          <img src="https://i.pinimg.com/originals/45/12/4d/45124d126d0f0b6d8f5c4d635d466246.gif" />
        </div>
      </div>

    </div>
  </div>
</ng-template>
